@model IList<Post>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (!(Model is null)) {
        foreach (Post post in Model) {
            <div class="post">
                <a class="title">@post.Title</a>
                <div class="description">
                    <p class="text">@post.Text</p>
                    <div class="info">
                        <p class="user">@post.User</p>
                        <p class="date">@post.Date</p>
                    </div>
                </div>
            </div>
        }
   }
}