@model User
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="greeting">
        @{
            if (Model != null) {
                <p>Hello @Model.Username</p>
            }
        }
    </div>
    <div id="map" class="map center" style="width: 600px; height: 500px;"></div>
</div>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqOBzjRTLtgWkBqjBEK6LBoALXjJSzB10&callback=initMap"></script>
<script>
    let geocoder, infowindow, map;

    function initMap() {
        geocoder = new google.maps.Geocoder();
        infowindo = new google.maps.InfoWindow();
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 13,
            center: new google.maps.LatLng(42.3732, -72.5199),
            MapTypeId: google.maps.MapTypeId.ROADMAP
        });

        let locations = [
            "Amherst Coffee",
            "Antonio's Pizza Amherst Ma"
        ];

        for (let i = 0; i < locations.length; i++) {
            let marker = addAddress(locations[i]);
        }
    }

    function addAddress(address) {
        geocoder.geocode({ 'address': address }, addMarker);
    }

    function addMarker(results, status) {
        if (status === 'OK') {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });

            marker.addListener('click', function() {
                if (marker.getAnimation() !== null) {
                    marker.setAnimation(null);
                } else {
                    marker.setAnimation(google.maps.Animation.BOUNCE);
                }
            });
        } else {
            alert('Geocode was not successful for the following reason: ' + status);
        }
    }


    
</script>