@model IList<Name>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (!(Model is null)) {
        foreach (Name name in Model) {
            <p>@name.First</p>
            <p>@name.Last</p>
        }
    }
}

<form method="POST">
    <label for="first">Name</label>
    <input type="text" id="first" name="first" placeholder="First" />
    <input type="text" id="last" name="last" placeholder="Last" />
    <input type="submit" />
</form>