
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">
    <h2>Login</h2>
    <form method="POST">
        <input type="text"     id="username" name="username" placeholder="Username" />
        <input type="password" id="passcode" name="passcode" placeholder="Password" />
        <input type="submit" />
    </form>
</div>