
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">
    <h2>Login</h2>
    <hr style="width: 40%">
    <form method="POST" class="form">
        <input type="text"     id="username" name="username" placeholder="Username" />
        <input type="password" id="passcode" name="passcode" placeholder="Password" />
        <input type="submit" value="Login" />
    </form>
</div>