html, body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p, h1, h2, h3, h4 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 80%;
    margin: auto;

}

.greeting {
    font-size: 30px;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}

.center {
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar {
    display: flex;
    margin: auto;
    width: 80%;
    height: 75px;
    justify-content: space-between;
}

.navitem {
    margin: auto 0 auto 0;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    text-decoration: underline;
}

.form {
    display: flex;
    flex-direction: column;
}

    .form * {
        padding: 5px;
        margin: 5px;
    }

.maplist {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 75px);
}

.map {
    margin: 0;
    width: 600px;
    height: 600px;
}

.list {
    list-style-type: none;
}

    .list li {
        height: 60px;
        width: 100%;
        border: 1px solid grey;
        padding: 5px;
        margin-bottom: 5px;
    }