
@{
    ViewData["Title"] = "Layout";
}

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="/css/site.css" rel="stylesheet" />
    <title>The Local</title>
</head>
    <body>
        @await Html.PartialAsync("Navbar")
        @RenderBody()
    </body>
</html>
