
@{
    ViewData["Title"] = "Layout";
}

<!-- Put nav and other shared things here I guess-->

<html>
    <head>
        <link href="css/site.css" rel="stylesheet" />
    </head>
    <body>
        @{ 
            await Html.RenderPartialAsync("Navbar");
            RenderBody();
        }
    </body>
</html>