<div class="navbar">
    <div class="navitem">
        <h1>The Local!</h1>
    </div>
    <div class="navitem">
        <a href="/login/login">Login</a>
        <a href="/login/register">Register</a>
    </div>
</div>