<div class="navbar">
    <div class="navitem">
        <a href="/home/index">
            <h1 class="title">The Local</h1>
        </a>
    </div>
    <div class="navitem">
        <a href="/login/login">Login</a>
        <a href="/login/register">Register</a>
    </div>
</div>