@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="navbar">
    <div class="navitem">
        <h1>The Local!</h1>
    </div>
    <div class="navitem">
        <a href="/home/login">Login</a>
    </div>
</div>